.form-review__other-wrapper {
  width: auto;
  margin-right: 0px;
}

.form-review__other-warning {
  margin-bottom: 10px;
}

.form-review__input-other {
  margin-bottom: 0;
}

.new-rate  {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  color: #c90606;
}

.new-rate svg {
  margin-right: 3px;
}

.new-rate  label {
  position: relative;
}

.new-rate__label {
  margin-left: 3px;
  position: absolute;

  width: 24px;
  height: 20px;
}

.new-rate:not(:checked) > label {
  float: right;
  overflow: hidden;

  width: 18px;
  height: 20px;

  font-size: 30px;

  color: #ffffff;

  cursor: pointer;
  white-space: nowrap;
}

.new-rate--star {
   background: url("./svg/icon-star.svg") no-repeat top 0 left 0;
  background-size: 18px 20px;
}

.new-rate--fullstar {
  background: url("./svg/icon-full-star.svg") no-repeat top 0 left 0;
  background-size: 18px 20px;
}

.new-rate > input:focus + label {
  outline: 1px solid #000000;
  outline-offset: -1px;
}
